body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
}

.primary-btn:link {
  color: green;
}

.primary-btn:visited {
  color: orange;
}
.primary-btn:hover {
  color: red;
}

.primary-btn:active {
  color: black;
  background-color: white;
  border: 2px solid green;
}
