body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
}

.primary-btn:link {
  color: green;
}

.primary-btn:visited {
  color: orange;
}
.primary-btn:hover {
  color: red;
}

.primary-btn:active {
  color: black;
  background-color: white;
  border: 2px solid green;
}

ul li:first-child {
  background-color: violet;
}
ul li:last-child {
  background-color: red;
}

/*! applying style in nth child */
/*! an+b */
ul li:nth-child(4n) {
  background-color: green;
}

/*! pseudo element */
h2::first-letter {
  font-size: 3rem;
}

p::first-line {
  background-color: burlywood;
}

/*! ::selection {
  color: greenyellow;
  background-color: black;
} */

/*! ::before and ::after */
h3::before {
  content: "Before : ";
}
h3::after {
  content: " After";
}

/*! required field used in google form */
.required::after {
  content: " *";
  color: red;
}

.important::after {
  content: "important";
  background-color: red;
  color: white;
  padding: 0.2rem;
  font-size: 0.5rem;
  margin: 10px;
  vertical-align: middle;
}
